body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./bg.jpg') ;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body a {
	color: white;
}

body a:hover{
	color: gray;
	text-decoration: none;
}

#logo-img {
	width: 75px;
}

.years, .months, .days {
	display: flex;
	flex-wrap: wrap;
}

.year, .month, .day {
	flex: 1 0 15%;
	height: 100px;
  	background-color: #2c2f33;
  	border: 2px solid #23272a;
  	opacity: 0.9;
	margin: 10px;
}

.year, .month {
	padding: 25px;
}

.day {
	padding: 10px;
}

.nav-foot a{
	margin: 10px;
}